/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

/* GRID */
body {
    display: grid;
    grid-template-columns: 3;
    grid-template-rows: auto;
}

.workingon {
    display: grid;
    grid-template-rows: auto;
    gap: 0.3rem;

    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.title {
    grid-row: 1 / 2;
    justify-self: center;
    color: white;
}

.title p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.task {
    grid-row: 2 / 3;
    
}

.task p {
    color: white;
}

.addtask p {
    color: white;
}

.whitebox1 {
    grid-row: 3 / 4;
    background-color: white;
    border-radius: 0.2rem;
    display: flex;
    justify-content: space-between;
}

.whitebox2 {
    grid-row: 4 / 5;
    background-color: white;
    border-radius: 0.2rem;
    display: flex;
    justify-content: space-between;
}

.whitebox p, .whitebox2 p {
    color: black;
    margin: 1rem 0 1rem 2rem;
}

.whitebox2:first-child {
    text-decoration: line-through;
}

.addtask {
    grid-row: 5 / 6;
    display: flex;
    justify-content: center;
    background-color: #C94B46;
    border-radius: 0.2rem;
    border: #DF645F 0.1rem;
    border-style: dashed;
    margin-top: 0.5rem;
}

.pinkbox {
    grid-row: 6 / 7;
    display: flex;
    background-color: #DF645F;
    margin: 1rem 0 5rem 0;
    justify-content: space-around;
}

.pinkbox ul {
    padding: 0;
}

.pinkbox li {
    list-style: none;
    display: inline-block;
    font-size: 1rem;
    margin: 0 2rem 0 2rem;
    color: white;
}




/* BACKGROUND RED COLOR */
.redbackground {
    border: solid;
    border-color: #CB5B53;
    background-color: #CB5B53;
}



/* NAV - REPORT, SETTINGS, LOGIN */
.navbuttons {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
    margin-right: 2rem;
}

.transparentRed {
    border-style: solid;
    border-color: #D06B63;
    background-color: #D06B63;
    border-radius: 5px;
}

.button1 {
    border-style: solid;
    border-color: #D06B63;
    background-color: #D06B63;
    border-radius: 5px;
    margin-right: 0.5rem;
}

.button2 {
    border-style: solid;
    border-color: #D06B63;
    background-color: #D06B63;
    border-radius: 5px;
    margin-right: 0.5rem;
}

.button3 {
    border-style: solid;
    border-color: #D06B63;
    background-color: #D06B63;
    border-radius: 5px;
    margin-right: 0.5rem;
}


/* TIMER */
.timer {
    font-size: 80px;
    color: white;
    margin: 0;
}

/* CENTERING ITEMS */
.options {
    display: flex;
    justify-content: center;
}

span {
    display: flex;
    justify-content: center;
}

.start {
    background-color: white;
    padding-right: 60px;
    padding-left: 60px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 12px;
    font-family: 'Varela Round', sans-serif;
}

.start p {
    color: #D06B63;
}

.startbutton {
    display: flex;
    justify-content: center;
}


/* HEADING ON LEFT UP */
.pomofocus1 {
    color: white;
}

/* ROUNDED CORNERS FOR BUTTONS IN RED AREA */
 button {
     border-radius: 5px;
     border-style: none;
     background-color: transparent;

 }

 .buttonPomodoro {
     border-style: solid;
     border-color: #bb5853;
     background-color: #bb5853;
     border-radius: 5px;
 }

 button p {
     color: white;
     margin: 0;
 }

 span {
     color: white;
 }

/* BODY */
  body {
    margin: 0;
    font-family: 'Varela Round', sans-serif;
  }


main {
    padding-left: 20px;
    padding-right: 20px;
} 
  

  h1, h2 {
    margin-top: 24px;
    display: inline-block;
    padding-bottom: 4px;
    margin-bottom: 4px;
    line-height: 1.4em;
  }
  
  h1,h2,h3,h4 {
    color: hsl(357, 50%, 22%);
    margin-top: 1.8rem;
    margin-bottom: 0em;
  }
  
  h1 {
    font-size: 34px;
  }
  








  /* MEDIA QUERY */
  @media only screen and (max-width: 680px) {
    h1,
    h2 {
      letter-spacing: -0.2px;
    }
    h1 {
      font-size: 24px;
    }
    h2 {
      font-size: 20px;
    }
  }
  
  p {
    font-size: 18px;
    line-height: 1.6em;
    color: hsl(357, 12%, 42%);
  }
  
  @media only screen and (max-width: 680px) {
    p,
    li {
      font-size: 16px;
    }
  }
  






  /* LISTS */
  ul {
    font-size: 18px;
    list-style: none;
    list-style-type: circle;
    color: hsl(357, 74%, 67%);
  }
  
  /* ol {
    font-size: 16px;
    -webkit-padding-start: 24px;
  } */
  
  li {
    line-height: 1.6rem;
    color: hsl(357, 12%, 42%);
    margin: 12px 0px;
  }
  
  .features_list li::before {
    width: 0.5em;
    margin-left: -1em;
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
  }
  


/* links such as home, privacy etc..  */
  a {
    text-decoration: none ;
    color: rgb(217 85 80);
    font-weight: bold;
  }
  
/* little red line under heading */
  .h2_headings:after {
    content: ''; /* This is necessary for the pseudo element to work. */
    display: block;
    /* margin: 0 auto; */
    width: 24px;
    padding-top: 8px;
    border-bottom: 4px solid #f05b56;
    opacity: 0.6;
  }
  
  .container {
    max-width: 620px;
    margin: auto;
    padding: 0 12px;
  }
  
  .header__wrapper {
    border-bottom: 1px solid #dfdfdf;
    padding: 16px 0px;
  }
  
  .header__brand_title {
    color: rgb(217 85 80);
    font-size: 28px;
  }
  
  .header__brand_icon {
    width: 26px;
    margin-right: 4px;
  }
  
  .bigheadingimage {
    margin-top: 30px;
  }
  
  .bigimage_title {
    display: block;
    margin-top: 50px;
    margin-bottom: 20px;
  }
  

  /* FOOTER */
  .footer {
    margin-top: 40px;
    border-top: 2px solid #efefef;
    text-align: center;
    padding-top: 30px;
    color: hsl(357, 12%, 42%);
    padding-bottom: 20px;
    /* grid-row: 10;
    grid-column:2; */
  }
  
  .footer_links_container {
    display: flex;
    justify-content: center;
    margin-bottom: 18px;
  }
  
  .footer_links_container img {
    background-color: #999;
    width: 28px;
    height: 28px;
    border-radius: 100px;
    padding: 6px;
    margin: 0px 6px;
  }
  
  .footer__me {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  

 
  /* PRIVACY  */
  .privacy__title {
    margin-top: 40px;
    margin-bottom: 20px;
  }
  
  /* FACEBOOK */
  .facebook_like {
    background-color: hsl(357, 12%, 94%);
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: hidden;
  }
  
  .footer_rights {
      opacity: 0.8;
      font-size: 10px;
  }

  .footer_nav_container a {
      margin-right: 5px;
  }


 